* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(62, 83, 69, 0.753);
}

.navbar {
  color: antiquewhite;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
}
.navbar a {
  color: antiquewhite;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: antiquewhite;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: antiquewhite;
  margin: 5px;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  flex-direction: column-reverse;

  margin-left: 40%;
  margin-top: 0%;
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: red;
  color: white;
}
